<app-naviagation></app-naviagation>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="profileImage">Profile Image:</label>
      <input type="file" id="profileImage" formControlName="profileImage">
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <button type="submit" [disabled]="profileForm.invalid">Save</button>
  </form>

